@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-title: "Sora", sans-serif;
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
  --color-primary: #ff5f5f;
  --spacing-unit: 0.25rem;
}


